

body{
    background-color: #F4F4F4;
    font-family: "Menlo",Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.text-secondary {
    color: #ccc!important;
}

#todo-container {
    margin-top:20px;
}


.card {
    border: none;
}

.card .header{
    padding: 40px 0 20px;
    text-align: center;
}

#todo-body{
    margin: -10px 0 20px;
    min-height: 360px;
}

#todo-body h3{
    padding: 16%;
}

.card .card-actions{
    border-top: 2px solid #F4F4F4;
    padding-top: 16px;
}

.invalid-feedback{
    padding-left: 8px;
}

.task-item{
    padding: .4rem 1.5rem;
}

.completed label{
    color:#D0D0D0;
    text-decoration: line-through;
}

.task-action{
    display:block;
    float:right;
}

.task-action svg{
    width:20px;
    height: 20px;
    margin-left: 12px;
    color: #D0D0D0;
    cursor: pointer;
}

.task-action svg:hover{
    color: #000;
}

.footer-link{
    cursor: pointer;
}

.footer-link:hover{
    text-decoration: underline;
}

.invalid-feedback {
    visibility: hidden;
    display: block;
}
.form-control.is-invalid{
    background-image: none;
}